body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8f5;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header.banner {
    background-color: #023C40;
    color: #AAABBC;
    text-align: center;
    padding: 40px 0;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav {
    background-color: #C7F0BD;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #89c2d9;
}

.sobre-nosotros {
    background-color: #754668;
    padding: 50px 20px;
    text-align: center;
}

.sobre-nosotros h2 {
    color: #FFFBBD;
    font-size: 2rem;
    margin-bottom: 20px;
}

.productos {
    background-color: #e8f1f2;
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
}

.producto {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.productopg {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
}

.producto p {
    font-size: 1.2rem;
    color: #ffffff;
}

.reseñas {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
}

.reseñas p {
    font-style: italic;
    font-size: 1.2rem;
    color: #ffffff;
    margin: 20px 0;
}

footer {
    background-color: #89c2d9;
    color: white;
    text-align: center;
    padding: 20px;
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.box {
    background-color: #023C40;
    color: white;
    text-align: center;
    padding: 20px;
}

.boxp {
    background-color: #754668;
    color: white;
    text-align: center;
    padding: 20px;
}
